*{
    padding: 0;
    margin: 0;
}

.chartContent{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.chartContent h1{
    font-size: 1vw;
}

.attendanceChart{
    width: 100%;
    height: 50vh;
    margin-top: 1%;
}

.attendanceChart h3{
    color: #4A80AA;
    font-size: 1vw;
    font-weight: 500;
}

.absentChart{
    width: 100%;
    height: 40%;
    margin-top: 5%;
}

.absentChart h3{
    color: #4A80AA;
    font-size: 1vw;
    font-weight: 500;
}