*{
    margin: 0;
    padding: 0;
}

.mainDashboard{
    width: 100%;
    display: flex;
    margin-left: 3%;
    padding: 1% 0%;
}

.dashboardContent{
    width: 70%;
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 3%;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    box-sizing: border-box;
}

.dashboardContent h1{
    color: #3F3E4B;
    font-size: 1.8vw;
    font-weight: 600;
}

.dashboardContent h2{
    color: #9B9B9B;
    font-size: 0.9vw;
    font-weight: 600;
}

.boxInfo{
    display: flex;
    height: 100%;
    flex-direction: column;
}

.attendanceInfo{
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
}

.infoValue{
    display: flex;
    width: 23%;
    background-color: white;
    box-sizing: border-box;
    padding: 2% 3%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.iconValue{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    border-radius: 50%;
    color: white;
    font-size: 1.4vw;
    padding: 1vw 0.8vw;
}

.iconAtt{
    background-color: #3C37FF;
}

.iconOn{
    background-color: #29E731;
}

.iconLate{
    background-color: #FF5555;
}

.iconAbs{
    background-color: #C21818;
}

.textInfo{
    width: 65%;
    margin-left: 10%;
}

.textInfo h1{
    color: #2C2C31;
    font-size: 1.5vw;
}

.textInfo h3{
    color: #4B4B4B;
    font-size: 0.9vw;
    font-weight: 500;
}

.textInfo p{
    color: #9B9B9B;
    font-size: 0.6vw;
}

.chartInfo{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    margin-top: 3%;
    background-color: white;
    box-sizing: border-box;
    padding: 2% 3%;
    border-radius: 10px;
    height: 65%;
}

.chartInfo h5{
    font-size: 1.3vw;
    font-weight: 600;
    color: #3F3E4B;
}

.dashboardSidebar{
    width: 28%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.calendarInfo{
    width: 100%;
    height: 49%;
    background: rgb(60,55,255);
    border-radius: 30px;
    box-sizing: border-box;
    padding: 5% 8%;
    /* position: relative; */
    background: linear-gradient(184deg, rgba(60,55,255,1) 10%, rgba(18,15,128,1) 100%);
}

.calendarInfo h1{
    font-weight: 700;
    font-size: 1.7vw;
    margin-top: 3%;
    margin-left: 3%;
}

.calendarInfo h3{
    font-weight: 500;
    color: white;
    font-size: 0.9vw;
    margin-top: 10%;
    margin-left: 3%;
}

.dateInfo{
    margin-top: 5%;
}

.dateInfo ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.dateInfo ul li{
    width: calc(100% / 7);
    text-align: center;
    padding: 1% 0px;
    font-size: 0.8vw;
}

.dayName{
    font-weight: 500;
    color: white;
}

.dateNum li{
    margin-top: 2%;
}

.activeDate{
    color: white;
}

.activeDateToday{
    background-color: white;
    border-radius: 20px;
    color: #3C37FF;
}

.inactiveDate{
    color: white;
    opacity: 60%;
}

.recentInfo{
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    height: 49%;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding: 8% 8%;
}

.recentInfo h1{
    font-weight: 700;
    font-size: 1.5vw;
    color: #3F3E4B;
    margin-bottom: 13%;
    margin-left: 3%;
}

.recentList{
    display: flex;
    width: 95%;
    margin: 0 auto;
}

.recentList~.recentList{
    margin-top: 13%;
}

.imageList{
    width: 20%;
    display: flex;
    align-items: center;
}

.imageList img{
    width: 70%;
}

.nameList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1%;
    width: 50%;
}

.nameList h3{
    color: #3F3E4B;
    font-weight: 600;
    font-size: 1vw;
}

.nameList h4{
    color: #9B9B9B;
    font-weight: 500;
    font-size: 0.8vw;
}

.timeList{
    width: 29%;
    display: flex;
    align-items: center;
}

.timeList h3{
    color: #436885;
    font-weight: 600;
    font-size: 0.9vw;
    margin-left: auto;
}

.loading {
    --speed-of-animation: 0.9s;
    --gap: 6px;
    --first-color: #4c86f9;
    --second-color: #49a84c;
    --third-color: #f6bb02;
    --fourth-color: #f6bb02;
    --fifth-color: #2196f3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    gap: 3%;
   }
   
   .loading span {
    width: 0.5vw;
    height: 2.25vw;
    background: var(--first-color);
    animation: scale var(--speed-of-animation) ease-in-out infinite;
   }
   
   .loading span:nth-child(2) {
    background: var(--second-color);
    animation-delay: -0.8s;
   }
   
   .loading span:nth-child(3) {
    background: var(--third-color);
    animation-delay: -0.7s;
   }
   
   .loading span:nth-child(4) {
    background: var(--fourth-color);
    animation-delay: -0.6s;
   }
   
   .loading span:nth-child(5) {
    background: var(--fifth-color);
    animation-delay: -0.5s;
   }
   
   @keyframes scale {
    0%, 40%, 100% {
     transform: scaleY(0.05);
    }
   
    20% {
     transform: scaleY(1);
    }
   }

.loadingBox{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 4vw;
    height: 4vw;
    animation: spinner-y0fdc1 2s infinite ease;
    transform-style: preserve-3d;
}
   
   .spinner > div {
    background-color: rgba(0,77,255,0.2);
    height: 100%;
    position: absolute;
    width: 100%;
    border: 2px solid #004dff;
   }
   
   .spinner div:nth-of-type(1) {
    transform: translateZ(-2vw) rotateY(180deg);
   }
   
   .spinner div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
   }
   
   .spinner div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
   }
   
   .spinner div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
   }
   
   .spinner div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
   }
   
   .spinner div:nth-of-type(6) {
    transform: translateZ(2vw);
   }
   
   @keyframes spinner-y0fdc1 {
    0% {
     transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }
   
    50% {
     transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }
   
    100% {
     transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
   }