*{
    margin: 0;
    padding: 0;
}
.dashboardSidebar{
    position: absolute;
    width: 25%;
    top :0;
    right: 0;
    height: 100%;
    position: fixed;
    background-color: #FEFDFF;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.calendarInfo{
    width: 95%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.calendarInfo h1{
    color: #365E7D;
    font-weight: 700;
    font-size: 1.8vw;
    margin-left: 3%;
}

.calendarInfo h3{
    color: #365E7D;
    font-weight: 600;
    font-size: 1.1vw;
    margin-top: 5%;
    margin-left: 3%;
}

.dateInfo{
    margin-top: 2%;
}

.dateInfo ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.dateInfo ul li{
    width: calc(100% / 7);
    text-align: center;
    padding: 1% 0px;
    font-size: 0.8vw;
}

.dayName{
    font-weight: 500;
    color: #365E7D;
}

.dateNum li{
    margin-top: 2%;
}

.activeDate{
    color: #365E7D;
}

.activeDateToday{
    background-color: #365E7D;
    border-radius: 20px;
    color: white;
}

.inactiveDate{
    color: grey;
    opacity: 50%;
}

.newPresent{
    width: 95%;
    height: 50%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.newPresent h1{
    color: #365E7D;
    font-weight: 700;
    font-size: 1.8vw;
    margin-left: 3%;
    margin-bottom: 5%;
}

.listAttendance{
    margin: 3% 3%;
    display: flex;
    margin-left: 3%;
}

.listAttendance hr{
    border: none;
    background-color: #93ADC1;
    width: 2px;
    margin: 0px 4%;
}

.timeAtt{
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: right;
    flex-direction: column;
}

.timeAtt h3{
    color: #436885;
    font-size: 1vw;
}

.timeAtt p{
    color: #436885;
    font-size: 0.9vw;
}

.nameAtt{
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.nameAtt h3{
    color: #436885;
    font-size: 1vw;
}

.nameAtt p{
    color: #436885;
    font-size: 0.9vw;
}