*{
    margin: 0;
}

body{
    background-color: white;
}

.sideBar{
    width: 17%;
    height: 100%;
    background-color: #F5F8FF;
    position: fixed;
}

.iconSidebar{
    width: 100%;
    display: flex;
    padding: 5% 0%;
    margin-top: 15%;
    align-items: center;
}

.iconSidebar img{
    width: 13%;
    margin-left: 15%;
}

.iconSidebar h1{
    font-size: 1.1vw;
    color: #3F3E4B;
    font-weight: 700;
    margin-left: 5%;
}

.navMenu{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inactiveMenu{
    display: flex;
    align-items: center;
    height: 3vw;
    width: 80%;
    border-radius: 15px;
    margin-top: 10%;
    margin-left: 5%;
}

.inactiveMenu h3{
    margin-left: 10%;
    font-size: 1vw;
}

.inactiveMenu h3 a{
    text-decoration: none;
    color: #878787;
    font-weight: 500;
}

.inactiveMenu img{
    width: 10%;
    margin-left: 13%;
}

.active{
    display: flex;
    align-items: center;
    margin-top: 10%;
    height: 3vw;
    width: 80%;
    border-radius: 15px;
    background-color: #3C37FF;
    margin-left: 5%;
    transition-property: all;
    transition-duration: 0.5s;
}

.active img{
    width: 10%;
    margin-left: 13%;
}

.active h3{
    margin-left: 10%;
    font-size: 1vw;
}

.active h3 a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}

@keyframes clickanim {
    0%{opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}

.profilePart{
    width: 90%;
    display: flex;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 5%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    right: 5%;
    margin-bottom: 5%;
    border-radius: 15px;
    padding: 3% 5%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.profilePart img{
    width: 21%;
    height: 21%;
}

.profilAdmin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 7%;
    width: 50%;
}

.profilAdmin h3{
    font-size: 0.9vw;
    color: #3F3E4B;
}

.profilAdmin p{
    font-size: 0.7vw;
    color: #3F3E4B;
}

.arrowIcon{
    font-size: 1vw;
    color: #B1B1B1;
}


