*{
    margin: 0;
}

body{
    background-color: #FEFDFF;
}

.sideBar{
    width: 15%;
    min-width: 250px;
    height: 100vh;
    background-color: #FEFDFF;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: fixed;
}

.sideBar h1{
    color: #365E7D;
    font-size: 36px;
    margin-top: 35px;
    text-align: center;
}

.navMenu{
    margin-top: 150px;
}

.inactiveMenu{
    display: flex;
    align-items: center;
    margin-top: 25px;
    height: 70px;
    background-image: none;
}

.inactiveMenu .leftStand{
    background-color: #365E7D; 
    height: 100%;
    width: 16px;
    border-radius: 5px;
    margin-left: -8px;
    margin-right: 30px;
    opacity: 0;
}

.inactiveMenu h3{
    margin-left: 20px;
    font-size: 23px;
}

.inactiveMenu h3 a{
    text-decoration: none;
    color: #878787;
    font-weight: 600;
    font-size: 17px;
}

.inactiveMenu .ikonNav{
    font-size: 25px;
    color: #878787;
    width: 15%;
}

.active{
    transition: background-image 1s;
    display: flex;
    align-items: center;
    margin-top: 25px;
    height: 70px;
    background-image: linear-gradient(to right, rgba(147, 173, 193, 1), rgba(153, 210, 255, .1));
}

.active h3{
    color: #365E7D;
    margin-left: 20px;
    font-size: 23px;
}

.active h3 a{
    color: #365E7D;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
}

.active .ikonNav{
    font-size: 25px;
    color: #365E7D;
    width: 15%;
}

.active .leftStand{
    background-color: #365E7D; 
    height: 100%;
    width: 16px;
    border-radius: 5px;
    margin-left: -8px;
    margin-right: 30px;
    animation: clickanim 0.4s linear;
}

@keyframes clickanim {
    0%{opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}

.profilePart{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 40px;
}

.profilAdmin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profilAdmin img{
    width: 25%;
}

.profilAdmin h3{
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0px;
}

.profilAdmin p{
    font-size: 14px;
    font-weight: 400;
    color: #878787;
}


